a {
    text-decoration: none;
    color: black;

}

#navBar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

#cart-cluster {
    position: absolute;
    right: 20px;
    top: 30px;
}

.fluid {
    width: 40vw;
    margin: 15px 10px;
}

#cartimg {
    max-width: 50px;
    margin-left: 10px;
}


@media (min-width: 900px) { 
    .fluid {
        width: 25vw;
    }
    #cart-cluster {
        position: absolute;
        right: 50px;
    }
}

@media (min-width: 1500px) { 
    .fluid {
        margin-left: 100px;
    }
    #cart-cluster {
        position: absolute;
        right: 100px;
        top: 50px;
    }
}

@media (min-width: 2000px) { 
    .fluid {
        margin-left: 400px;
    }
    #cart-cluster {
        position: absolute;
        right: 300px;
        top: 70px;
    }
}

@media (max-width: 440px) {
    #cart-cluster {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .fluid {
        width: 45vw;
    }
}

